.notes-div{
  width: 220px !important;
  min-height: 220px !important; 
}

.p-15{
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .notebook-edit-div input{    
    font-size:14px !important;
    font-weight: 700;
  }
  .todo-btn{
    width: 35px !important;
    height: 25px !important;
  }
  .pull-right-div{
    width: 80px !important;
  }
  .notebook-edit-div input{
    width: 80px;
  }
}

.back-btn{
  width: 50px;
  height: 30px;
  border: none;
  background: none;
  position: absolute;
  top: 12px;
  left: 135px;
}
.todo-btn{
    width: 50px;
    height: 30px;
    border: none;
    background: none;
    float: right;
}

.todo-btn img, .back-btn img{
  width: 60%;
  background: #fff;
  color: #fff;
}

.actions-div{
  width: 58%;
  position : absolute;
  top: 15px;
  right: 15px;
}

.pull-right-div{
  float: right;
  width: 150px;
}

.notebook-edit-div input{
  border: none;
  font-family: lato;
  font-size:18px;
  font-weight: 700;
  text-align: center;
}

.notebook-edit-div{
  display: inline-block;
}

.todo-list{
  padding-left: 0px;
  float: left;
  padding-top: 5px;
}

.todo-list li{
  list-style: none;

}

.todo-list input{
  border-color: #fff !important;
  padding-left: 10px;
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  cursor: pointer;
  float: left;
}

.todo-list label{
  list-style: none;
  color: #fff;
  padding-left: 10px;
  font-family: lato;
  font-weight: 400; 
  float: left;
  text-align: left;   
}

 .todo-list input:checked ~ .checkmark {
	 background-color: #2196f3;
}

.intro{
  padding: 5px 0px;
  padding-bottom: 10px;
  text-align: left;
  font-weight: 400;
  font-family: lato;
  font-size: 12.5px;
  width: 160px;
  height: 115px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  line-height: 1.8;
}

.m-10{
  margin-top:25px;
}

.quote-text{
  text-align: center;
  margin-top: 15%;
  font-size: 2rem !important;
  font-weight: 400;
  position: absolute;
  top: 15%;
  color: #999999;
  font-family: Baskerville;
  font-style: italic;
  height: 80px;
  width: 85%;
}


.overlay-icon {
  position: absolute;
  top: 35px;
  left: 15px;
  width: 220px;
  height: 220px;
  background: rgba(0, 0, 0, 0.55);
  text-align: center;
  overflow: hidden;
  padding-top: 85px;
 
}

.overview-img img{
  width: 20px;
  float:right;
  margin-right: 15px;
}

.overview-img button{
  border: none;
  background: none;
  text-align: right;
  /* width: 30px !important; */
  /* padding: 0px !important; */
  /* position: absolute; */
  /* top: 60px !important; */
  /* right: 10px; */
  float: right;
}

.clr-div{
  clear: both;
  height: 20px;
}

.hide {
  display: none;
}


.modal-dialog {
    width: 300px !important;
    margin: 30px auto;
}

.buttons-section{
  padding-right: 2px;
  margin-right: 2px;
  border-top: solid 1px #F0F0F0;
}

.buttons-section .btn{
    background: none;
    width: 100%;
    padding: 10px 0px;
    border-radius: 0px;
}

.buttons-section .del-btn{
  border-left: solid 1px #F0F0F0;
}

.buttons-section .btn:hover {
  background: rgb(231, 231, 231) !important;
  border-radius: 0px;
}

.buttons-section .del-btn:hover{
  border-bottom-right-radius: 3px;
}

.buttons-section .cnl-btn:hover{
  border-bottom-left-radius: 3px;
}

.cnl-btn, .del-btn{
  width: 50%;
  display: inline-block;
  text-align: center;
}