<div class="">
        <button (click)="goBack();" class="back-btn" title="Add a Todo List"><img src="https://image.flaticon.com/icons/svg/2223/2223615.svg"/>
        </button>
</div>
<div class="actions-div">
    
    <div class="notebook-edit-div">
       <input class="note-heading" (keyup.enter)="updateName()"[(ngModel)]='notebook.name'/>
      
    </div>
    <div class="pull-right-div">
      <button (click)="addTodo();" class="todo-btn" title="Add a Todo List"><img src="https://image.flaticon.com/icons/svg/1287/1287087.svg"/></button>
      <button (click)="addNote();"  title="Add Note" class="todo-btn" title="Write a Note to Yourself"><img src="https://image.flaticon.com/icons/svg/1159/1159876.svg"/></button>
    </div>
</div>

<div class="container" >
  <div *ngIf="!notebook.noteList.length>0 && !notebook.todoList.length>0">
   <div class="quote-text"> 
      <h3>The beginning is the most important part of the work.</h3>
      <h4>- Plato</h4>
   </div>
  </div>
  <div *ngIf="notebook.noteList">
    
    <div class="desc m-10" *ngFor="let note of notebook.noteList;"> 
        <div [ngClass]="{'overlay-div':note.id == clickIdx}">
          <div *ngIf="show && note.id == clickIdx" class="settings-tab">
              <button type="button" class="close pull-right" aria-label="Close" (click)="toggle(note.id)">
                <span aria-hidden="true">&times;</span>
              </button>
              <div>
                <h4 class="nb-header">{{note.name}} Info</h4>
                <div class="nb-info-set">
                  <img src="https://image.flaticon.com/icons/svg/660/660707.svg"/>
                  <h4 class="nb-header txt-left">{{ notebook.created | date:'dd MMM yyyy' }}</h4>
                </div>
                <div class="clr-div"></div>
                <div class="nb-info-wrapper">
                    <div>Copy to :</div>
                    <div *ngFor="let nb of notebooks">       
                      <div *ngIf="nb.id !== notebook.id" class="col-md-4 col-xs-5 col-sm-4 col-lg-4 notebook-div" (click)="copyToNB(nb,note);">
                        <div class="notesimg-div"[style.background]="'url(' + nb.img + ')'"></div>
                         <h4 class="nb-header">{{nb.name}}</h4> 
          
                      </div>
                    </div>
                </div>
                
              </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-3 p-15">
            <a *ngIf="note.name" [title]="note.name+' details'" routerLink="/note/{{notebook.id}}/{{note.id}}"   >
            <div class="notes-div" [ngStyle]="{'background-color': note.color}" (mouseenter)="hoverIdx = note.id" (mouseleave)="hoverIdx = -1" >
              <div >
                    <h4>{{note.name}}</h4>   
                    <div class="intro">{{note.description}}</div>
              </div>       
            </div>
            </a>  
            <span class="overview-img" [ngClass]="{ 'overlay-icon': true, 'hide': hoverIdx !== note.id }">
                <button (click)="openModal(template);" title="Delete Note">
                    <img src="https://image.flaticon.com/icons/svg/1345/1345925.svg"/>
                </button>
                <div class="clr-div"></div>
                <button class="nb-info" (click)="toggle(note.id)" title="Info">
                    <img src="https://image.flaticon.com/icons/svg/1783/1783316.svg"/>
                </button>

            </span>
        </div>
          

    <ng-template #template>
            
      <!-- <div class="modal-header modal-sm">
        
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body modal-sm">
          <h6>Are you sure, you want to delete {{note.name}}?</h6>
          <div class="buttons-section">
            <div class="cnl-btn">
                <button type="button" class="btn" (click)="modalRef.hide()" >Cancel</button>
            </div>
            <div class="del-btn">
                <button type="button" class="btn" (click)="deleteNote(note.id);modalRef.hide()" >Delete</button>
            </div>
          </div>
      </div>
    </ng-template>
    </div>
  </div>
  
  <div *ngIf="notebook.todoList">
    <div class="desc" *ngFor="let todoList of notebook.todoList; index as tiId; "> 
      <a  *ngIf="todoList.name" [title]="todoList.name+' details'" routerLink="/todo/{{notebook.id}}/{{todoList.id}}"   >
      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-3 p-15">
          <div class="notes-div todo-wrapper" [ngStyle]="{'background-color': todoList.color}" (mouseenter)="hoverIdx = todoList.id" (mouseleave)="hoverIdx = -1" >
            <h4>{{todoList.name}}</h4>   
            <div *ngFor="let todo of todoList.list;">
                <div class="todo-list" *ngIf="todo.title">
                  <input type="checkbox" [(ngModel)]="todo.checked" name="checkbox">
                  <label class="todo-width" for="todo">{{todo.title}}</label>  
                </div>
                
            </div>
            <div class="overview-img" [ngClass]="{ 'overlay-icon': true, 'hide': hoverIdx !== todoList.id }">
                <div>
                  <button (click)="openModal(template1);" title="Delete Notebook">
                    <img src="https://image.flaticon.com/icons/svg/1345/1345925.svg"/>
                  </button>
                  <div class="clr-div"></div>
                  <button class="nb-info" (click)="toggle(todo.id)" title="Info">
                    <img src="https://image.flaticon.com/icons/svg/1783/1783316.svg"/>
                  </button>
                </div>
            </div>   
          </div>
          
      </div>
      </a>
      <ng-template #template1>
            
      <!-- <div class="modal-header modal-sm">
        
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body modal-sm">
          <h6>Are you sure, you want to delete {{todoList.name}}?</h6>
          <div class="buttons-section">
            <div class="cnl-btn">
                <button type="button" class="btn" (click)="modalRef.hide()" >Cancel</button>
            </div>
            <div class="del-btn">
                <button type="button" class="btn" (click)="deleteTodo(todoList.id);modalRef.hide()" >Delete</button>
            </div>
          </div>
      </div>
    </ng-template>
    </div>  
  </div>
</div>
