.notes-div{
  width: 200px !important;
  min-height: 200px !important; 
}

.p-15{
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .notes-div{
    width: 125px !important;
    min-height: 125px !important; 
  }
  .notebook-edit-div input{    
    font-size:14px !important;
    font-weight: 700;
  }
  .todo-btn{
    width: 35px !important;
    height: 25px !important;
  }
  .pull-right-div{
    width: 80px !important;
  }
  .notebook-edit-div input{
    width: 80px;
  }
}


.todo-btn{
    width: 50px;
    height: 30px;
    border: none;
    background: none;
    float: right;
}

.todo-btn img{
  width: 60%;
  background: #fff;
  color: #fff;
}

.actions-div{
  width: 50%;
  position : absolute;
  top: 15px;
  right: 15px;
}

.pull-right-div{
  float: right;
  width: 150px;
}

.notebook-edit-div input{
  border: none;
  font-family: lato;
  font-size:18px;
  font-weight: 700;
}

.notebook-edit-div{
  display: inline-block;
}