<div class="list-nb-comp">
  <div class="container">
  <div class="row lnbnav">
    <div class="col list-navbar">
      <button (click)="goBack()" class="back-btn" title="Go Back">
        <img src="https://stackblitz.com/files/angular-notebook-app/github/santoravi7/angular-notebook-app/master/src/app/images/arrow.png" />
      </button>
    </div>
    <div class="col actions-div">
      <div class="col">
        <button (click)="addTodo()" class="todo-btn" title="Add a Todo List">
          <img src="https://stackblitz.com/files/angular-notebook-app/github/santoravi7/angular-notebook-app/master/src/app/images/check.png" />
        </button>
      </div>
      <div class="col">
        <button (click)="addNote()" title="Add Note" class="todo-btn" title="Write Notes">
          <img src="https://stackblitz.com/files/angular-notebook-app/github/santoravi7/angular-notebook-app/master/src/app/images/edit.png" />
        </button>
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="!notebook?.noteList?.length > 0 && !notebook?.todoList?.length > 0">
      <div class="quote-text">
        <h3>{{proverbRandomVal.value}} - {{proverbRandomVal.author}}</h3>
      </div>
    </div>
    <div *ngIf="notebook?.noteList" class="row">
      <div class="desc m-10 col-md-3" *ngFor="let note of notebook?.noteList">
        <div [ngClass]="{ 'overlay-div': note.id == clickIdx }">
          <div *ngIf="show && note.id == clickIdx" class="settings-tab">
            <button type="button" class="close pull-right" aria-label="Close"(click)="toggle(note.id,'note')">
              <span aria-hidden="true">&times;</span>
            </button>
            <div>
              <h4 class="nb-header">{{ note.name }} Info</h4>
              <div class="nb-info-set">
                <img src="https://stackblitz.com/files/angular-notebook-app/github/santoravi7/angular-notebook-app/master/src/app/images/left-alignment.png" />
                <h4 class="cpy-txt txt-left">{{ note.description.length }} character
                  <span *ngIf="note.description.length > 1">s</span>
                </h4>
                <div class="clr-div h10"></div>
                <img src="https://stackblitz.com/files/angular-notebook-app/github/santoravi7/angular-notebook-app/master/src/app/images/notebook.png" />
                <h4 class="cpy-txt txt-left">{{ notebook?.name }}</h4>
                <div class="clr-div h10"></div>
                <img src="https://stackblitz.com/files/angular-notebook-app/github/santoravi7/angular-notebook-app/master/src/app/images/calendar.png" />
                <h4 class="cpy-txt txt-left">
                  {{ note.created | date: 'dd MMM yyyy' }}
                </h4>
              </div>
              <div class="clr-div"></div>
              <div class="nb-info-wrapper container">
                <h4 class="nb-header">Select Notebook</h4>
                <h4 class="cpy-txt">
                  Copy this note card from '{{ notebook?.name }}' to another notebook
                </h4>
                <div class="row">
                  <div class="col-md-6" *ngFor="let nb of notebooks">
                    <div  *ngIf="nb.id !== notebook?.id" class=" notebook-div col-md-12" (click)="copyToNB(nb, note)">
                      <div class="notesimg-div" [style.background]="'url(' + nb.img + ')'"></div>
                      <h4 class="nb-header">{{ nb?.name }}</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col"(mouseenter)="hoverIdx = note?.id" (mouseleave)="hoverIdx = -1">
          <span class="overview-img" [ngClass]="{ 'overlay-icon': true, hide: hoverIdx !== note.id }">
            <button (click)="openModal(template)" title="Delete Note">
              <img src="https://stackblitz.com/files/angular-notebook-app/github/santoravi7/angular-notebook-app/master/src/app/images/delete.png" />
            </button>
            <div class="clr-div"></div>
            <button class="nb-info" (click)="toggle(note.id,'note')" title="Info">
              <img src="https://stackblitz.com/files/angular-notebook-app/github/santoravi7/angular-notebook-app/master/src/app/images/info-new.png" />
            </button>
          </span>
          <a *ngIf="note.name" [title]="note.name + ' details'"
            (click)="notesView(note)">
            <div class="notes-div" [ngStyle]="{ 'background-color': note.color }">
              <div>
                <h4>{{ note.name }}</h4>
                <div class="intro">{{ note?.description }}</div>
              </div>
            </div>
          </a>
          
        </div>
        <a [title]="note.name + ' details'" (click)="notesView(note)">
          <div id="">
            <h4 class="nb-header">
            {{ note.name }}
            </h4>
          </div>
        </a>

        <ng-template #template let-modal>
          <div class="modal-body" id="modal-basic-title">
            <h6>Are you sure, you want to delete {{ note.name }}?</h6>
            <div class="buttons-section">
              <div class="cnl-btn">
                <button type="button" class="btn" (click)="modal.close()">Cancel</button>
              </div>
              <div class="del-btn">
                <button type="button" class="btn btn-danger"(click)="deleteNote(note.id,notebook.noteList);modal.close()" >
                  Delete
                </button>
              </div>
            </div>
          </div>
          
        </ng-template>
      </div>
    </div>

    <div *ngIf="notebook?.todoList" class="row">
      <div class="desc col-md-3" *ngFor="let todoList of notebook?.todoList; index as tiId">
        <div [ngClass]="{ 'overlay-div': todoList.id == todoIdx }">
          <div *ngIf="show && todoList.id == todoIdx" class="settings-tab">
            <button type="button" class="close pull-right" aria-label="Close" (click)="toggle(todoList.id,'todo')">
              <span aria-hidden="true">&times;</span>
            </button>
            <div>
              <h4 class="nb-header">{{ todoList.name }}</h4>
              <div class="nb-info-set">
                <img src="https://stackblitz.com/files/angular-notebook-app/github/santoravi7/angular-notebook-app/master/src/app/images/check-set.png" />
                <h4 class="cpy-txt txt-left">{{ todoList.list.length }} todo item<span *ngIf="todoList.list.length > 1">s</span>
                </h4>
                <div class="clr-div h10"></div>
                <img src="https://stackblitz.com/files/angular-notebook-app/github/santoravi7/angular-notebook-app/master/src/app/images/notebook.png" />
                <h4 class="cpy-txt txt-left">{{ notebook?.name }}</h4>
                <div class="clr-div h10"></div>
                <img src="https://stackblitz.com/files/angular-notebook-app/github/santoravi7/angular-notebook-app/master/src/app/images/calendar.png" />
                <h4 class="cpy-txt txt-left">{{ todoList.created | date: 'dd MMM yyyy' }}</h4>
              </div>
              <div class="clr-div"></div>
              <div class="nb-info-wrapper">
                <h4 class="nb-header">Select Notebook</h4>
                <h4 class="cpy-txt">Copy this note card from '{{ notebook?.name }}' to another notebook</h4>
                <div *ngFor="let nb of notebooks">
                  <div *ngIf="nb.id !== notebook?.id" class="col notebook-div" (click)="copyTodoToNB(nb, todoList)" >
                    <div class="notesimg-div" [style.background]="'url(' + nb.img + ')'" ></div>
                    <h4 class="nb-header">{{ nb.name }}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <a *ngIf="todoList.name" [title]="todoList.name + ' details'" (click)="todoView(todoList)">
            <div class="notes-div todo-wrapper" [ngStyle]="{ 'background-color': todoList.color }" (mouseenter)="hoverTodoIdx = todoList.id" (mouseleave)="hoverTodoIdx = -1">
              <h4>{{ todoList.name }}</h4>
              <div *ngFor="let todo of todoList.list">
                <div class="todo-list" *ngIf="todo.title">
                  <input type="checkbox" [(ngModel)]="todo.checked" name="checkbox"/>
                  <label class="todo-width" for="todo">{{ todo.title }}</label>
                </div>
              </div>
            </div>
          </a>
          <div>
              <span class="overview-img" [ngClass]="{ 'overlay-icon': true, hide: hoverTodoIdx !== todoList.id }">
              <button (click)="openModal(template1)" title="Delete Notebook">
                <img
                  src="https://stackblitz.com/files/angular-notebook-app/github/santoravi7/angular-notebook-app/master/src/app/images/delete.png"/>
              </button>
              <div class="clr-div"></div>
              <button class="nb-info" (click)="toggle(todoList.id,'todo')" title="Info">
                <img src="https://stackblitz.com/files/angular-notebook-app/github/santoravi7/angular-notebook-app/master/src/app/images/info-new.png"
                />
              </button>
            </span>
          </div>
        </div>

        <a [title]="todoList.name + ' details'" (click)="todoView(todoList)">
          <div id="container">
            <h4 class="nb-header">
              {{ todoList.name }}
            </h4>
          </div>
        </a>

        <ng-template #template1 let-modal>
         
          <div class="modal-body modal-sm" id="modal-basic-title">
            <h6>Are you sure, you want to delete {{ todoList.name }}?</h6>
            <div class="buttons-section">
              <div class="cnl-btn">
                <button type="button" class="btn" (click)="modal.close()">Cancel
                </button>
              </div>
              <div class="del-btn">
                <button type="button" class="btn"(click)="deleteNote(todoList.id,notebook.todoList);modal.close()" >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
</div>
