.lnbnav{
  margin-top:5%;
}

.add-nb{
    margin-top: 30px;
    float: right;
    font-family: lato;
    font-size: 16px;
    padding: 7px 10px;
    color: #000;
    border: none;
    border-radius: 4px;
}

.add-nb:hover{
  background:#dddddd
}

.nb-scroll{
  overflow: scroll;
  overflow-x: hidden;
  height: 100vh;
  width:100%;
  
}
.nb-header{
  font-family: lato;
  font-size: 15px;
  color: #000;
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
}

.add-btn{
  border: none;
  border-radius: 50%;
  font-family: lato;
  font-size: 28px;
  padding: 3px 15px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  box-shadow: -1px 2px 12px 0px #848484;
  background: #1976d2;
  color: #ffffff;
  margin-right: 15px;
  margin-bottom: 15px;
}

.notesimg-div{
  margin-top: 20px; 
  padding: 15px 20px;
  text-align: center;
  font-size: 12px !important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 200px;
  overflow: hidden;
  background-size: cover !important;
}

.notebook-div{
  padding:15px 5px;
  margin: 0px 10px; 
  display:inline-block;
}

#container {
  display: inline-block;
  width: 160px;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#container .notesimg-div {
   display: block;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* 
#container:hover .notesimg-div {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
} */

.m-10{
  margin-top:25px;
}

.overlay-icon {
  position: absolute;
  top: 35px;
  left: 5px;
  height: 200px;
  background: rgba(0, 0, 0, 0.55);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  overflow: hidden;
  padding-top: 85px;
  width: 85%;
}

.overview-img img{
  width: 20px;
  float:right;
  margin-right: 15px;
}

.overview-img button{
  border: none;
  background: none;
  text-align: right;
  float: right;
}


.hide {
  display: none;
}

.clr-div{
  clear:both;
  height: 20px;
}

.modal-dialog {
    width: 300px !important;
    margin: 30px auto;
}

.buttons-section{
  padding-right: 2px;
  margin-right: 2px;
  border-top: solid 1px #F0F0F0;
}

.buttons-section .btn{
    background: none;
    width: 100%;
    padding: 10px 0px;
    border-radius: 0px;
}

.buttons-section .del-btn{
  border-left: solid 1px #F0F0F0;
}

.buttons-section .btn:hover {
  background: rgb(231, 231, 231) !important;
  border-radius: 0px;
}

.buttons-section .del-btn:hover{
  border-bottom-right-radius: 3px;
}

.buttons-section .cnl-btn:hover{
  border-bottom-left-radius: 3px;
}

.cnl-btn, .del-btn{
  width: 50%;
  display: inline-block;
  text-align: center;
}

.settings-tab{
  position: fixed;
  right: 0;
  height: 100%;
  top: 0;
  background: #fff;
  box-shadow: -1px 2px 12px 0px #848484;
  width: 400px;
  z-index: 99;
  /* padding: 20px; */
}

.settings-tab .close{
  font-size: 35px;
  font-family: lato;
  font-weight: 400;
}

.settings-tab .set-bg{
  width: 125px;
  height: 170px;
  display: inline-block;
  box-shadow: 0 1px 5px rgb(0 0 0 / 40%);
  /* margin-top: 35px; */
}

.nb-info-set{
  float: left;
  margin-top: 35px;
  /* margin-left: 35px; */
  text-align: left;
}

.nb-info-img{
  /* float:left; */
  text-align: center;
}

.images-set-tab{
  overflow: scroll;
  overflow-x: hidden;
  height: 55vh;
  background: #f7f7f7;
}

.images-set-tab .set-bg{
  float: left;
  margin-top: 25px;
  margin-left: 20px;
  text-align: left;
}

.nb-info-set .note-heading{
  border: none;
  font-family: lato;
  font-size:15px;
  font-weight: 700;
  /* text-align: center; */
  color: #000;
  display: inherit;
}

.overlay-div{
  width: 100%;
  height: 100%;
  background: #0000008c;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}

.txt-left{
  text-align: left;
  font-weight: 400;
}

.nb-info-set img{
  width: 25px;
  float: left;
  margin-right: 20px;
  margin-top: 7px;
}

@media only screen and (max-width: 600px) {
  .m-10{
    margin-top:5px;
  }
  .notebook-div {
    padding: 0px;
    margin: 0px;
  }

  .overlay-icon {
    position: absolute;
    top: 20px;
    left: 0px;
  }

  .lnbnav{
    margin-top:15%;
  }
  .settings-tab .set-bg {
    width: 120px;
    display: inline-block;
    margin-top: 35px;
    height: 150px;
  }
  .nb-info-set .note-heading {
    font-size: 16px;
    text-align: left;
  }
  #container {
    display: inline-block;
    width: 110px;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  } 
  .notesimg-div{
    height: 140px !important;
  }
  .overlay-icon {
    width: 110px;
    height: 140px;
    padding-top: 45px;
  }
}


.fake-scroll{
  overflow-y: scroll; 
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #585858;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}
