<div class="container">
    <div>
      <div class="col-md-12 col-xs-12 m-10">
        <div *ngIf="notes" class="notes-textarea" [ngStyle]="{'background-color': notes.noteList[noteId].color}">
          <input class="note-heading" [(ngModel)]='notes.noteList[noteId].name'/>
          <div class="desc">
              <textarea [(ngModel)]='notes.noteList[noteId].description' [ngStyle]="{'background-color': notes.noteList[noteId].color}"></textarea>
              <div class="center">
                <button class="save-btn" (click)="save()">Save</button>
              </div>
          </div>
          
        </div>
      </div>
    </div>
</div>